/*
ESTILO GENERAL
*/


body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}

/*
----------------------CARROUSEL-----------------------------
*/
/*
Divs
*/
.Carrousel {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;

}

.imagenes {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.flecha {

    margin: 2vh;
}

.punto {

    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*
Imagenes
*/
.botonFlecha {

    height: 10vh;
    margin: 0;
    padding: 0;

}

.item {

    width: 100vh;

}
/*
puntos - botones
*/
.punto p {
    font-size: 30vh;
    color: black;
    margin:0;
    padding: 0;
    transform: translateY(-120px);

}

.punto .puntoSeleccionado {
    font-size: 35vh;
    color: violet;
    margin:0;
    padding: 0;
    transform: translateY(-130px);
}


/*
---------------------- FIN CARROUSEL-----------------------------
*/